body {
    background-color: #F9FAFC;
}

h1 {
    color: white;
    margin-bottom:10px;
}
h2 {
    font-weight: 300;
    line-height: 1.2;
}

 a {
    text-decoration: none;
 }

 a:hover {
    color: #1c5ea4;
 }
 
.icon {
    color: white;
    }

.alert {
    border: 1px solid #6b6762;
    box-shadow: 1px #4A4A4F;
}

.brand {
    font-family: Audiowide, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

.text-end {
    margin-right:5px;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {

    border: none;
    background-color: transparent;
}

.card-title {
    margin-top: 5px;
    font-weight: 600;
    margin-bottom: .5rem;
    color: #445261;
}

.post-card {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.428);
}

.image-container {
    position: relative;
}

#hero {
    max-height: 400px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.hero-text {
    flex-grow: 2;
    padding: 10px 0px 10px 20px ;
    margin: 10px 0;
    width: 66.6%;
    height:auto;
}

.hero-image {
    display:none;
}

.custom-width {
    max-width:500px;
}
.scale {
    width: 100%;
    height: auto;
}

.scale-half img{ 
    width: 50%;
    height: auto;
}
.callout-container {
    /* max-height: 400px; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.vote-info {
    padding:0% 0.2em;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.tool-name {
    background-color: #445261;
    color: white;
    position: relative;
}

.post-link {
    text-decoration: none;
    color: #445261;
}


.post-title {
    margin-left: 5%;
    color: white;
    padding:10px;
}


.post-subtitle {
    color: #607D8B;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.btn-warning {
    font-weight: 500;
    padding: 0rem .4rem;
    color: #121212;
    bottom: 2%;
    min-width: 30%;
    background-color: orange;
    border-color: #714709d1;
    border-radius: 0;
    transition: box-shadow 0.3s ease;
    box-shadow: 1px 2px 4px 1px rgb(0 0 0 / 54%);
}

.btn-warning:active{
    color: white;
    background-color: orange;
    border-color: white;
}

.btn-warning:hover {
    transform: translateY(-2px);
    color: #121212;
    background-color: #FF9800;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.image-container img {
    border: 2px solid #3d383859;
    padding: 3px;
    border-radius: 2px;
    background-color: #efeeeb5c;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
}

/* Hover effect */
.image-container img:hover {
    transform: translateY(-2px); /* Slight lift */
    box-shadow: 0 6px 12px rgba(35, 33, 33, 0.181); /* Emphasized shadow */
    background-color: #f6f4f1; /* Lighter orange on hover */
}


/* Active (clicked) effect */
.image-container img:active {
    transform: translateY(2px); /* Pressed effect */
    box-shadow: 0 2px 4px rgba(96, 92, 92, 0.23); /* Reduced shadow */
    background-color: #a09e9c; /* Darker orange for click */
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* code inspired from https://getbootstrap.com/docs/5.3/layout/breakpoints/ */
/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .hero-image {
        display: contents;
        width: 33.3%;
        height: auto;
        margin-right: 4em;
    }
}