{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<!-- index.html content starts here -->
<!--Hero section -->

<section>
    <div id="hero-image" class="container-fluid callout-container"
    style="background-image: url(https://res.cloudinary.com/dutjcas0m/image/upload/c_fill,g_auto,h_250,w_970/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative,l_text:montserrat_25_style_light_align_center:Shop%20Now,w_0.5,y_0.18/v1731205290/Screenshot_2024-10-29_203336_yoakla.png)">
        <div class="row">
            <div class = "col-12">
                <div class ="text-center">
                    <h1 class="text-center welcome-text">Hello!</h1>
                    <h2 class = "display-6 text-light">More text about the AI Blog and its function</h2>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container-fluid">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default.png' %}" alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                                {% endif %}
                                <div class="image-flash">
                                    <div class="col-12 icon">  
                                        <!-- <i class="far fa-comments "></i> {{ post.comment_count }} | -->
                                        <!-- <a href="{% url 'post_detail' post.slug%}"><i class="far fa-comments icon"></i></a> {{ post.comment_count }} -->
                                        <!-- <i class="fa-solid fa-check-to-slot"></i></i>{{ post.vote_count }}
                                        <a href="{% url 'vote_on_a_post' post.id %}" class="icon">Vote now </a> -->
                                        <a href="{% url 'vote_on_a_post' post.id %}"><p class = "icon">Vote For Your Hero Here<i class="fa-solid fa-check-to-slot icon"></i></p></a>
                                    </div>
                                </div>
                            </div>
                            <a href="{% url 'post_detail' post.slug %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class ="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">Last Updated : {{ post.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link"> &laquo; PREVIOUS </a></li>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}
{% block copyright %}
Copyright 2023 Monika Mak
{% endblock copyright %}